<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.cluttrapp.clpost"
      version="0.1.0">
    <name>CLPost</name>
    <description>PhoneGap CL Poster Plugin</description>
    <license>MIT</license>
    <keywords>phonegap</keywords>


    <js-module src="www/clpost.js" name="CLPost">
        <clobbers target="window.clpost" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CLPostPlugin">
                <param name="android-package" value="com.cluttr.post.CLPostPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/CLPostPlugin.java" target-dir="src/com/cluttr/post" />
        <source-file src="src/android/LoginHttpUnit.java" target-dir="src/com/cluttr/post" />
        <source-file src="src/android/Item.java" target-dir="src/com/cluttr/post" />
        <source-file src="src/android/lib/httpunit.jar" target-dir="libs" />
        <source-file src="src/android/lib/js-1.6R5.jar" target-dir="libs" />
        <source-file src="src/android/lib/neko.jar" target-dir="libs" />
        <source-file src="src/android/lib/xercesImpl-2.6.1.jar" target-dir="libs" />
     </platform>          
</plugin>
